@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,900&display=swap');

:root {
  --main-bg-color: rgb(0, 0, 0);
  --main-font-color: #00ccff;
}

* {
  font-family: roboto;
  color: var(--main-font-color);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

.title {
  display: flex;
  justify-content: left;
  padding-top: -300px;
  color: white;
}

.text {
  min-width: 200px;
  max-width: 700px;
}

.profileImage {
  height: 80%;
  margin: auto;
  position: absolute;
  top: 1px;
  right: 10px;
  bottom: -19%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
}

@media screen and (max-width: 480px) {
  .profileImage {
    opacity: 0.4;
  }
}

.homeContainer {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin-right: 300px;
  margin-left: -30px;
}

@media screen and (max-width: 480px) {
  .homeContainer {
    margin-right: 100px;
  }
}

.hello {
  display: flex;
  font-size: 7rem;
  padding-left: 100px;
}

@media screen and (max-width: 480px) {
  .hello {
    font-size: 5rem;
    line-height: 80px;
    padding-left: 100px;
  }
}

.line {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.084);
  width: 50vw;
  max-width: 800px;
  margin-top: -60px;
  margin-left: 100px;
}

@media screen and (max-width: 480px) {
  .line {
    margin-top: 1px;
  }
}

.welcome {
  padding-left: 100px;
  color: white;
  padding-top: 5px;
  padding-bottom: -50px;
  font-style: italic;
  min-width: 250px;
}

.info {
  padding-left: 100px;
  padding-top: -200px;
  max-width: 500px;
  min-width: 350px;
  font-weight: 300;
  line-height: 25px;
}

@media screen and (max-width: 480px) {
  .info {
    min-width: 250px;
    font-size: 0.8rem;
  }
}

.footer {
  margin-top: 6rem;
  padding: 1rem;
  bottom: 0;
  left: 0;
  display: flex;
  margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .footer {
    margin-top: 0.1rem;
    margin-right: 10px;
  }
}

.footerContainer {
  position: absolute;
  margin-left: 80px;
  padding-bottom: 10px;
  min-width: none;
}

@media screen and (max-width: 480px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
  }
}

.footerLink {
  display: inline;
  text-decoration: none;
  padding-top: 15px;
  padding: 0 10px 0 10px;
}
.footerLink:hover {
  transition: all 0.2s ease-in-out;
  background: #00141a;
  border-radius: 50px;
  color: white;
}

@media screen and (max-width: 480px) {
  .footerLink {
    display: flex;
    padding: 5px 0 0 0;
  }
}

.visit {
  font-weight: 100;
  font-size: 0.8rem;
  padding-right: 10px;
  color: white;
}

@media screen and (max-width: 480px) {
  .visit {
    padding-right: 0;
  }
}

.email {
  padding-left: 100px;
  color: white;
  padding-top: 5px;
  padding-bottom: -50px;
  font-style: italic;
  min-width: 250px;
}

.email:hover {
  transition: all 0.2s ease-in-out;
  border-radius: 50px;
  color: var(--main-font-color);
}
