body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: aliceblue;
}

.logo {
  color: whitesmoke;
  font-family: roboto;
  
 
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
